<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TickHub - Electronics Store Ecommerce Website Template">
    <!-- fav icon -->
    <link rel="icon" href="images/favicon.ico">

    <!-- bootstarp css file -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!--  owl carousel file     -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!--  toasts file     -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <!-- fontawesome icons -->
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- main css file -->
    <link rel="stylesheet" href="css/styles.css">
    <title>TickHub - Electronics Store Ecommerce Website Template</title>
</head>

<body class="body">

    <!-- start preLoader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>
    <!-- end preLoader -->

    <!-- start scroll to top button -->
    <div id="progress">
        <span id="progress-value"><i class="fa-solid fa-arrow-up"></i></span>
    </div>
    <!-- end scroll to top button -->


    <!-- ======= start Header ======= -->
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a href="index.html">
                    <h3 class="heading-2 primary-text">TickHub</h3>
                </a>
                <!-- if you prefer to use an image as logo -->
                <!-- <a class="navbar-brand " href="#"><img src="images/logo/logo.png" class="logo" alt="LOGO"></a> -->
                <div class="d-flex gap-16">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                    <button class="cart-mobile" id="cart-mobile">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                    <ul class="navbar-nav ms-auto" id="navbar">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="store.html">store</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                pages
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item py-2" href="product.html">product page</a></li>
                                <li><a class="dropdown-item py-2" href="privacy-policy.html">privacy policy</a></li>
                                <li><a class="dropdown-item py-2" href="terms.html">terms of use</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">contact</a>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center justify-content-center  gap-2 ms-auto">
                        <a class="btn" href="contact.html">register</a>
                        <button class="cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- ======= end Header ======= -->

    <!-- ============== start shopping cart ============== -->
    <section class="shopping-cart">
        <div class="d-flex flex-column gap-8 products-container">
            <div class="d-flex pt-4 px-3 justify-content-between align-items-center">
                <h4 class="heading-4">shopping cart</h4>
            </div>
            <hr class="m-0 mx-3 p-0 ">
            <div class="d-flex justify-content-between align-items-center gap-16 padding-16">
                <div class="d-flex align-items-center justify-content-center gap-8">
                    <div class="img">
                        <img src="images/products/2.png" alt="product">
                    </div>
                    <div class="d-flex flex-column">
                        <h5>IWatch SE 3</h5>
                        <h5>QTY: <span class="grey-text">3</span></h5>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-start">
                    <div class="heading-4 grey-text">US$39.99</div>
                    <button class="remove">remove</button>
                </div>
            </div>
            <hr class="m-0 mx-3 p-0 ">
            <div class="d-flex justify-content-between align-items-center gap-16 padding-16">
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <div class="img">
                        <img src="images/products/3.png" alt="product">
                    </div>
                    <div class="d-flex flex-column">
                        <h5>IWatch SE 3</h5>
                        <h5>QTY: <span class="grey-text">3</span></h5>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-start">
                    <div class="heading-4 grey-text">US$39.99</div>
                    <button class="remove">remove</button>
                </div>
            </div>
            <hr class="m-0 mx-3  p-0 ">
            <div class="d-flex justify-content-between align-items-center gap-16 padding-16">
                <div class="d-flex align-items-center justify-content-center gap-8">
                    <div class="img">
                        <img src="images/products/4.png" alt="product">
                    </div>
                    <div class="d-flex flex-column">
                        <h5>IWatch SE 3</h5>
                        <h5>QTY: <span class="grey-text">3</span></h5>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-start">
                    <div class="heading-4 grey-text">US$39.99</div>
                    <button class="remove">remove</button>
                </div>
            </div>
            <hr class="m-0 mx-3  p-0 ">
            <div class="d-flex justify-content-between align-items-center gap-16 padding-16">
                <div class="d-flex align-items-center justify-content-center gap-8">
                    <div class="img">
                        <img src="images/products/5.png" alt="product">
                    </div>
                    <div class="d-flex flex-column">
                        <h5>IWatch SE 3</h5>
                        <h5>QTY: <span class="grey-text">3</span></h5>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-start">
                    <div class="heading-4 grey-text">US$39.99</div>
                    <button class="remove">remove</button>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column gap-16 padding-16">
            <hr>
            <div class="d-flex align-items-start justify-content-between gap-16">
                <div class="d-flex flex-column">
                    <h4 class="heading-4">Total</h4>
                    <p class="body-2">Shipping and taxes are calculated at checkout</p>
                </div>
                <h5>$102.9</h5>
            </div>
            <button class="btn">checkout now</button>
        </div>
    </section>
    <!-- ============== end shopping cart ============== -->


    <section class="section product">
        <div class="container">
            <div class="d-flex flex-column gap-32">
                <p class="body-1">Store > Accessory > <span class="primary-text fw-bold">Tech Chic</span></p>
                <div class="row g-4 justify-content-center align-items-center">
                    <div class="col-lg-6 col-12">
                        <div class="d-flex flex-column gap-16">
                            <img src="images/products/3.png" alt="product">
                            <div class="row g-3">
                                <div class="img col-3 b-radius">
                                    <img src="images/products/1.png" alt="product">
                                </div>
                                <div class="img col-3 b-radius">
                                    <img src="images/products/4.png" alt="product">
                                </div>
                                <div class="img col-3 b-radius">
                                    <img src="images/products/5.png" alt="product">
                                </div>
                                <div class="img col-3 b-radius">
                                    <img src="images/products/6.png" alt="product">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="d-flex flex-column gap-16">
                            <div class="d-flex flex-column">
                                <h6 class="heading-4 m-0 p-0">Zenith Horizon</h6>
                                <p class="body-2">classic sophistication with modern aesthetics.</p>
                                <hr>
                            </div>
                            <div class="d-flex flex-column gap-16">
                                <h2 class="heading-2">$49.00</h2>
                                <div class="d-flex gap-8">
                                    <button class="btn">checkout now</button>
                                    <button class="btn-outline add-to-cart">Add to cart</button>
                                </div>
                                <hr>
                            </div>
                            <div class="d-flex flex-column gap-8">
                                <div class="d-flex justify-content-start  gap-16">
                                    <i class="fa-solid fa-check icon-sm primary-text"></i>
                                    <p class="body-1">Eternal Elegance: A timeless design that seamlessly blends classic
                                        sophistication with modern aesthetics.</p>
                                </div>
                                <div class="d-flex justify-content-start  gap-16">
                                    <i class="fa-solid fa-check icon-sm primary-text"></i>
                                    <p class="body-1">Smart Precision: Advanced technology for precise timekeeping and
                                        smart functionalities, keeping you in sync with the future.</p>
                                </div>
                                <div class="d-flex justify-content-start  gap-16">
                                    <i class="fa-solid fa-check icon-sm primary-text"></i>
                                    <p class="body-1">Eternal Elegance: A timeless design that seamlessly blends classic
                                        sophistication with modern aesthetics.</p>
                                </div>
                                <div class="d-flex justify-content-start  gap-16">
                                    <i class="fa-solid fa-check icon-sm primary-text"></i>
                                    <p class="body-1">Engineered with premium materials, ensuring resilience and style
                                        that withstands the test of time.</p>
                                </div>
                            </div>
                            <div
                                class="d-flex flex-lg-row flex-md-row flex-column justify-content-between align-items-center">
                                <p class="body-1">Accepted payments methods</p>
                                <div class="d-flex gap-8">
                                    <i class="fa-brands fa-cc-stripe icon-lg"></i>
                                    <i class="fa-brands fa-cc-paypal icon-lg"></i>
                                    <i class="fa-brands fa-cc-mastercard icon-lg"></i>
                                    <i class="fa-brands fa-cc-visa icon-lg"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- ============== start testimonials section ========== -->
    <section class="testimonials position-relative pt-4 mt-4 section" id="testimonials">
        <div class="container">
            <div class="heading d-flex flex-column justify-content-between align-items-center">
                <h2 class="heading-1">what our clients says</h2>
            </div>

            <div class="row mt-4 pt-2">
                <div class="owl-carousel testimonial owl-theme">
                    <div class="item">
                        <div class="bg-box padding-16">
                            <div class="d-flex flex-column gap-16 h-100">
                                <div class="d-flex align-items-center justify-content-between gap-8 text">
                                    <div class="d-flex justify-content-center align-items-center gap-8">
                                        <div class="img">
                                            <img src="images/testimonials/testimonials-1.jpg" alt="testimonial"
                                                class="b-radius">
                                        </div>
                                        <h3 class="heading-3 m-0 p-0">John Doe</h3>
                                    </div>
                                    <div class="d-flex gap-2">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <p class="body-1">As a tech aficionado, I'm always on the lookout for the latest and
                                    greatest. This
                                    website exceeded my expectations! The variety of gadgets is mind-blowing, and the
                                    expert reviews
                                    helped me make informed choices. I've found my go-to destination for staying ahead
                                    in the world of
                                    tech.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="bg-box padding-16">
                            <div class="d-flex flex-column gap-16 h-100">
                                <div class="d-flex align-items-center justify-content-between gap-8 text">
                                    <div class="d-flex justify-content-center align-items-center gap-8">
                                        <div class="img">
                                            <img src="images/testimonials/testimonials-2.jpg" alt="testimonial"
                                                class="b-radius">
                                        </div>
                                        <h3 class="heading-3 m-0 p-0">robert alderson</h3>
                                    </div>
                                    <div class="d-flex gap-2">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <p class="body-1">I've been collecting watches for years, and this website caters to my
                                    passion
                                    impeccably. The range of timepieces, from classic to modern, is impressive. The
                                    detailed product
                                    descriptions and high-quality images ensure I know exactly what I'm getting. This is
                                    now my go-to
                                    destination for expanding my watch collection.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="bg-box padding-16">
                            <div class="d-flex flex-column gap-16 h-100">
                                <div class="d-flex align-items-center justify-content-between gap-8 text">
                                    <div class="d-flex justify-content-center align-items-center gap-8">
                                        <div class="img">
                                            <img src="images/testimonials/testimonials-3.jpg" alt="testimonial"
                                                class="b-radius">
                                        </div>
                                        <h3 class="heading-3 m-0 p-0">sarah lee</h3>
                                    </div>
                                    <div class="d-flex gap-2">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <p class="body-1">I've been shopping for watches online for years, and this website
                                    stands out for its
                                    exceptional service and selection. The curated collection features both classic and
                                    contemporary
                                    timepieces, catering to every style and budget. The easy navigation and secure
                                    checkout process make
                                    shopping a breeze. I've never been disappointed with my purchases and will continue
                                    to be a loyal
                                    customer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="bg-box padding-16">
                            <div class="d-flex flex-column gap-16 h-100">
                                <div class="d-flex align-items-center justify-content-between gap-8 text">
                                    <div class="d-flex justify-content-center align-items-center gap-8">
                                        <div class="img">
                                            <img src="images/testimonials/testimonials-4.jpg" alt="testimonial"
                                                class="b-radius">
                                        </div>
                                        <h3 class="heading-3 m-0 p-0">james white</h3>
                                    </div>
                                    <div class="d-flex gap-2">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                                <p class="body-1">
                                    Being a photography enthusiast, finding high-quality camera gear is essential, and
                                    this website never
                                    disappoints. The range of cameras, lenses, and accessories is unmatched, and the
                                    competitive prices
                                    make it a budget-friendly option. The customer service team is knowledgeable and
                                    always available to
                                    answer any questions I have. Thanks to this website, I've been able to take my
                                    photography to the next
                                    level!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ============== End testimonials section ========== -->

    <!-- ============== Start cta section ========== -->
    <section class="cta section">
        <div class="container section b-radius bg-box d-flex flex-column justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center gap-16">
                <h2 class="heading-1 col-lg-8 text-center">Explore Our Latest Watch and Gadget Collection!</h2>
                <p class="body-1 col-lg-8 text-center">where style meets innovation in the realm of watches, gadgets,
                    and
                    cutting-edge technology. Discover a curated collection that transcends time.</p>
                <a href="#" class="btn">get started</a>
            </div>
        </div>
    </section>
    <!-- ============== end cta section ========== -->


    <!-- ============== start footer section ========== -->
    <section class="footer position-relative pt-4 mt-4">
        <div class="container">
            <div class="row justify-content-center align-items-center g-4 py-5">
                <div class="col-lg-6 col-12">
                    <div class="d-flex flex-column gap-8">
                        <h3 class="heading-3">TickHub</h3>
                        <p class="body-1 col-lg-8 col-12">Dive into a world where fashion meets expression. Our online
                            clothing
                            emporium is a
                            curated destination for style enthusiasts</p>
                        <div class="d-flex gap-3">
                            <i class="fa-brands fa-facebook icon-sm"></i>
                            <i class="fa-brands fa-instagram icon-sm"></i>
                            <i class="fa-brands fa-twitter icon-sm"></i>
                            <i class="fa-brands fa-linkedin icon-sm"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="d-flex flex-column gap-8">
                        <h3 class="heading-4">Menu</h3>
                        <div class="d-flex flex-column gap-2">
                            <a href="index.html">home</a>
                            <a href="about.html">about us</a>
                            <a href="services.html">services</a>
                            <a href="contact.html">contact</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="d-flex flex-column gap-8">
                        <h3 class="heading-4">social media</h3>
                        <div class="d-flex flex-column gap-2">
                            <a href="index.html">twitter</a>
                            <a href="about.html">instagram</a>
                            <a href="services.html">facebook</a>
                            <a href="contact.html">telegram</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="p-0 m-0">
            <div class="d-flex justify-content-between align-items-center g-4 py-2 w-100">
                <p class="body-2">copyright © 2024 TickHub</p>
                <p class="body-2"><a href="terms.html">Terms & Conditions</a> | <a href="privacy-policy.html">Privacy
                        Policy</a>
                </p>
            </div>
        </div>
    </section>
    <!-- ============== end footer section ========== -->

    <!--  JQuery file     -->
    <script src="js/jquery-3.6.1.min.js"></script>

    <!--  toasts file     -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <!--  owl carousel file     -->
    <script src="js/owl.carousel.min.js"></script>

    <!--  isotope filter file     -->
    <script src="js/isotope.min.js"></script>

    <!--  bootstrap bundle js file     -->
    <script src="js/bootstrap.bundle.min.js"></script>

    <!--  counter     -->
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/jquery.waypoints.js"></script>

    <!--  main js file  -->
    <script src="js/main.js"></script>

</body>

</html>