<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TickHub - Electronics Store Ecommerce Website Template">
    <!-- fav icon -->
    <link rel="icon" href="images/favicon.ico">

    <!-- bootstarp css file -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!--  owl carousel file     -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!--  toasts file     -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

    <!-- fontawesome icons -->
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- main css file -->
    <link rel="stylesheet" href="css/styles.css">
    <title>TickHub - Electronics Store Ecommerce Website Template</title>
</head>

<body class="body">

    <!-- start preLoader -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>
    <!-- end preLoader -->

    <!-- start scroll to top button -->
    <div id="progress">
        <span id="progress-value"><i class="fa-solid fa-arrow-up"></i></span>
    </div>
    <!-- end scroll to top button -->


    <!-- ======= start Header ======= -->
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a href="index.html">
                    <h3 class="heading-2 primary-text">TickHub</h3>
                </a>
                <!-- if you prefer to use an image as logo -->
                <!-- <a class="navbar-brand " href="#"><img src="images/logo/logo.png" class="logo" alt="LOGO"></a> -->
                <div class="d-flex gap-16">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                    <button class="cart-mobile" id="cart-mobile">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                    <ul class="navbar-nav ms-auto" id="navbar">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="store.html">store</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                pages
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item py-2" href="product.html">product page</a></li>
                                <li><a class="dropdown-item py-2" href="privacy-policy.html">privacy policy</a></li>
                                <li><a class="dropdown-item py-2" href="terms.html">terms of use</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">contact</a>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center justify-content-center  gap-2 ms-auto">
                        <a class="btn" href="contact.html">register</a>
                        <button class="cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- ======= end Header ======= -->

    <!-- ============== start shopping cart ============== -->
    <section class="shopping-cart">
        <div class="d-flex flex-column gap-8 products-container">
            <div class="d-flex pt-4 px-3 justify-content-between align-items-center">
                <h4 class="heading-4">shopping cart</h4>
            </div>
            <hr class="m-0 mx-3 p-0 ">
            <div class="d-flex justify-content-between align-items-center gap-16 padding-16">
                <div class="d-flex align-items-center justify-content-center gap-8">
                    <div class="img">
                        <img src="images/products/2.png" alt="product">
                    </div>
                    <div class="d-flex flex-column">
                        <h5>IWatch SE 3</h5>
                        <h5>QTY: <span class="grey-text">3</span></h5>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-start">
                    <div class="heading-4 grey-text">US$39.99</div>
                    <button class="remove">remove</button>
                </div>
            </div>
            <hr class="m-0 mx-3 p-0 ">
            <div class="d-flex justify-content-between align-items-center gap-16 padding-16">
                <div class="d-flex align-items-center justify-content-center gap-2">
                    <div class="img">
                        <img src="images/products/3.png" alt="product">
                    </div>
                    <div class="d-flex flex-column">
                        <h5>IWatch SE 3</h5>
                        <h5>QTY: <span class="grey-text">3</span></h5>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-start">
                    <div class="heading-4 grey-text">US$39.99</div>
                    <button class="remove">remove</button>
                </div>
            </div>
            <hr class="m-0 mx-3  p-0 ">
            <div class="d-flex justify-content-between align-items-center gap-16 padding-16">
                <div class="d-flex align-items-center justify-content-center gap-8">
                    <div class="img">
                        <img src="images/products/4.png" alt="product">
                    </div>
                    <div class="d-flex flex-column">
                        <h5>IWatch SE 3</h5>
                        <h5>QTY: <span class="grey-text">3</span></h5>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-start">
                    <div class="heading-4 grey-text">US$39.99</div>
                    <button class="remove">remove</button>
                </div>
            </div>
            <hr class="m-0 mx-3  p-0 ">
            <div class="d-flex justify-content-between align-items-center gap-16 padding-16">
                <div class="d-flex align-items-center justify-content-center gap-8">
                    <div class="img">
                        <img src="images/products/5.png" alt="product">
                    </div>
                    <div class="d-flex flex-column">
                        <h5>IWatch SE 3</h5>
                        <h5>QTY: <span class="grey-text">3</span></h5>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-start">
                    <div class="heading-4 grey-text">US$39.99</div>
                    <button class="remove">remove</button>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column gap-16 padding-16">
            <hr>
            <div class="d-flex align-items-start justify-content-between gap-16">
                <div class="d-flex flex-column">
                    <h4 class="heading-4">Total</h4>
                    <p class="body-2">Shipping and taxes are calculated at checkout</p>
                </div>
                <h5>$102.9</h5>
            </div>
            <button class="btn">checkout now</button>
        </div>
    </section>
    <!-- ============== end shopping cart ============== -->

    <div class="store mt-5 pt-5">
        <div class="container mt-4">
            <div class="d-flex justify-content-start align-items-center gap-3">
                <h1 class="heading-1">store</h1>
                <h1 class="heading-1 mx-4">|</h1>
                <div class="d-flex align-items-center categories gap-8 filters">
                    <a href="#" class="active" data-filter="*">All</a>
                    <a href="#" data-filter=".watches">Watches</a>
                    <a href="#" data-filter=".headphones">Headphones</a>
                    <a href="#" data-filter=".gadgets">Gadgets</a>
                    <a href="#" data-filter=".glasses">VR</a>
                    <a href="#" data-filter=".phones">phones</a>
                    <a href="#" data-filter=".accessories">accessories</a>
                </div>
            </div>
        </div>
    </div>

    <section class="section my-4 py-4">
        <div class="container d-flex flex-column gap-64">
            <div class="row justify-content-center align-items-center g-4 products-row">
                <div class="col-lg-3 col-md-6 col-12 headphones">
                    <div class="bg-box d-flex flex-column gap-16 position-relative b-radius">
                        <img src="images/products/1.png" alt="product">
                        <div class="d-flex flex-column padding-16">
                            <a href="product.html">
                                <h3 class="heading-4">ZoomPro HD Webcam</h3>
                            </a>
                            <p class="body-2">Elevate your casual style with our Men's Hoodie</p>
                            <h3 class="heading-3 my-2">$49.00</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 watches">
                    <div class="bg-box d-flex flex-column gap-16 position-relative b-radius">
                        <img src="images/products/2.png" alt="product">
                        <div class="d-flex flex-column padding-16">
                            <a href="product.html">
                                <h3 class="heading-4">ZAudemars Piguet</h3>
                            </a>
                            <p class="body-2">Elevate your casual style with our Men's Hoodie</p>
                            <h3 class="heading-3 my-2">$99.00</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 gadgets accessories">
                    <div class="bg-box d-flex flex-column gap-16 position-relative b-radius">
                        <img src="images/products/3.png" alt="product">
                        <div class="d-flex flex-column padding-16">
                            <a href="product.html">
                                <h3 class="heading-4">TechPod Wireless Earbuds</h3>
                            </a>
                            <p class="body-2">Elevate your casual style with our Men's Hoodie</p>
                            <h3 class="heading-3 my-2">$59.00</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12c watches">
                    <div class="bg-box d-flex flex-column gap-16 position-relative b-radius">
                        <img src="images/products/4.png" alt="product">
                        <div class="d-flex flex-column padding-16">
                            <a href="product.html">
                                <h3 class="heading-4">Lryx Watch</h3>
                            </a>
                            <p class="body-2">Elevate your casual style with our Men's Hoodie</p>
                            <h3 class="heading-3 my-2">$99.00</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 watches">
                    <div class="bg-box d-flex flex-column gap-16 position-relative b-radius">
                        <img src="images/products/5.png" alt="product">
                        <div class="d-flex flex-column padding-16">
                            <a href="product.html">
                                <h3 class="heading-4">IWatch SE 3</h3>
                            </a>
                            <p class="body-2">Elevate your casual style with our Men's Hoodie</p>
                            <h3 class="heading-3 my-2">$29.00</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 glasses">
                    <div class="bg-box d-flex flex-column gap-16 position-relative b-radius">
                        <img src="images/products/6.png" alt="product">
                        <div class="d-flex flex-column padding-16">
                            <a href="product.html">
                                <h3 class="heading-4">Meta VR glass</h3>
                            </a>
                            <p class="body-2">Elevate your casual style with our Men's Hoodie</p>
                            <h3 class="heading-3 my-2">$59.00</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 watches">
                    <div class="bg-box d-flex flex-column gap-16 position-relative b-radius">
                        <img src="images/products/7.webp" alt="product">
                        <div class="d-flex flex-column padding-16">
                            <a href="product.html">
                                <h3 class="heading-4">TAG Heuer</h3>
                            </a>
                            <p class="body-2">Elevate your casual style with our Men's Hoodie</p>
                            <h3 class="heading-3 my-2">$79.00</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 glasses">
                    <div class="bg-box d-flex flex-column gap-16 position-relative b-radius">
                        <img src="images/products/8.webp" alt="product">
                        <div class="d-flex flex-column padding-16">
                            <a href="product.html">
                                <h3 class="heading-4">Apple vision pro</h3>
                            </a>
                            <p class="body-2">Elevate your casual style with our Men's Hoodie</p>
                            <h3 class="heading-3 my-2">$2999.00</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 phones">
                    <div class="bg-box d-flex flex-column gap-16 position-relative b-radius">
                        <img src="images/products/9.webp" alt="product">
                        <div class="d-flex flex-column padding-16">
                            <a href="product.html">
                                <h3 class="heading-4">Samsung Galaxy Z Flip 5</h3>
                            </a>
                            <p class="body-2">Elevate your casual style with our Men's Hoodie</p>
                            <h3 class="heading-3 my-2">$199.00</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 gadgets accessories">
                    <div class="bg-box d-flex flex-column gap-16 position-relative b-radius">
                        <img src="images/products/10.webp" alt="product">
                        <div class="d-flex flex-column padding-16">
                            <a href="product.html">
                                <h3 class="heading-4">IPhone 13 pro charger</h3>
                            </a>
                            <p class="body-2">Elevate your casual style with our Men's Hoodie</p>
                            <h3 class="heading-3 my-2">$59.00</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 phones">
                    <div class="bg-box d-flex flex-column gap-16 position-relative b-radius">
                        <img src="images/products/11.webp" alt="product">
                        <div class="d-flex flex-column padding-16">
                            <a href="product.html">
                                <h3 class="heading-4">Samsung Galaxy S24</h3>
                            </a>
                            <p class="body-2">Elevate your casual style with our Men's Hoodie</p>
                            <h3 class="heading-3 my-2">$599.00</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 phones">
                    <div class="bg-box d-flex flex-column gap-16 position-relative b-radius">
                        <img src="images/products/12.webp" alt="product">
                        <div class="d-flex flex-column padding-16">
                            <a href="product.html">
                                <h3 class="heading-4">Apple iPhone 13</h3>
                            </a>
                            <p class="body-2">Elevate your casual style with our Men's Hoodie</p>
                            <h3 class="heading-3 my-2">$1999.00</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- ============== Start cta section ========== -->
    <section class="cta section">
        <div class="container section b-radius bg-box d-flex flex-column justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center gap-16">
                <h2 class="heading-1 col-lg-8 text-center">Explore Our Latest Watch and Gadget Collection!</h2>
                <p class="body-1 col-lg-8 text-center">where style meets innovation in the realm of watches, gadgets,
                    and
                    cutting-edge technology. Discover a curated collection that transcends time.</p>
                <a href="#" class="btn">get started</a>
            </div>
        </div>
    </section>
    <!-- ============== end cta section ========== -->

    <!-- ============== start footer section ========== -->
    <section class="footer position-relative pt-4 mt-4">
        <div class="container">
            <div class="row justify-content-center align-items-center g-4 py-5">
                <div class="col-lg-6 col-12">
                    <div class="d-flex flex-column gap-8">
                        <h3 class="heading-3">TickHub</h3>
                        <p class="body-1 col-lg-8 col-12">Dive into a world where fashion meets expression. Our online
                            clothing
                            emporium is a
                            curated destination for style enthusiasts</p>
                        <div class="d-flex gap-3">
                            <i class="fa-brands fa-facebook icon-sm"></i>
                            <i class="fa-brands fa-instagram icon-sm"></i>
                            <i class="fa-brands fa-twitter icon-sm"></i>
                            <i class="fa-brands fa-linkedin icon-sm"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="d-flex flex-column gap-8">
                        <h3 class="heading-4">Menu</h3>
                        <div class="d-flex flex-column gap-2">
                            <a href="index.html">home</a>
                            <a href="about.html">about us</a>
                            <a href="services.html">services</a>
                            <a href="contact.html">contact</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="d-flex flex-column gap-8">
                        <h3 class="heading-4">social media</h3>
                        <div class="d-flex flex-column gap-2">
                            <a href="index.html">twitter</a>
                            <a href="about.html">instagram</a>
                            <a href="services.html">facebook</a>
                            <a href="contact.html">telegram</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="p-0 m-0">
            <div class="d-flex justify-content-between align-items-center g-4 py-2 w-100">
                <p class="body-2">copyright © 2024 TickHub</p>
                <p class="body-2"><a href="terms.html">Terms & Conditions</a> | <a href="privacy-policy.html">Privacy
                        Policy</a>
                </p>
            </div>
        </div>
    </section>
    <!-- ============== end footer section ========== -->


    <!--  JQuery file     -->
    <script src="js/jquery-3.6.1.min.js"></script>

    <!--  toasts file     -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <!--  owl carousel file     -->
    <script src="js/owl.carousel.min.js"></script>

    <!--  isotope filter file     -->
    <script src="js/isotope.min.js"></script>

    <!--  bootstrap bundle js file     -->
    <script src="js/bootstrap.bundle.min.js"></script>

    <!--  counter     -->
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/jquery.waypoints.js"></script>

    <!--  main js file  -->
    <script src="js/main.js"></script>

</body>

</html>